* {
    margin: 0;
}


header nav ul {
    list-style: none;
}
header nav ul li  {
    display: inline-block;
}

header nav ul li a {
color:#eeeeee;
text-decoration: none;

}
main h1{
    text-align:center;
    margin:20px 0px 20px 15px;
}
.paraghraph {
    color: rgb(119, 7, 7);
    border:solid 5px blueviolet;
    margin: 50px;
    padding :20px 10px 10px 0px;
 
}
